@model IndexInfoVM

<div style="background-color:azure; padding:20px;">
    <strong>Crater name:  @Model.CraterName</strong>
    <span>Diameter(km):  @Model.Diameter</span>
    <span>Age(10^6 years):  @Model.Age</span>
    <span>Type:  @Model.Type</span>
    <span>Location:  @Model.CraterLocation</span>


</div>